<section class="w-full max-w-xl mx-auto bg-white shadow-lg rounded-xl p-8">
  <h1 class="text-center text-blue-700 text-3xl font-bold mb-6">Login Now</h1>

  <form [formGroup]="loginForm" (ngSubmit)="submitForm()" class="space-y-5">

    <!--? Email  -->
    <div>
      <label for="userName" class="block mb-1 text-sm font-medium text-gray-700">Username</label>
      <input formControlName="username" type="text" id="userName" class=" w-full px-4 py-2 border border-gray-300 rounded-lg text-gray-900 text-sm
              focus:outline-none focus:ring-2 focus:ring-blue-800 focus:border-blue-800 transition">
    </div>

    <!--? Password  -->
    <div>
      <label for="userPassword" class="block mb-1 text-sm font-medium text-gray-700">Password</label>
      <input formControlName="password" type="password" id="userPassword" class="input-padding w-full px-4 py-2 border border-gray-300 rounded-lg text-gray-900 text-sm
              focus:outline-none focus:ring-2 focus:ring-blue-800 focus:border-blue-800 transition">
    </div>

    <!--? Messsages -->
    @if (errorMsg) {
    <p class="text-center p-4 mb-4 mt-4 text-sm text-red-800 rounded-lg bg-red-100">{{errorMsg}}</p>
    }

    @if (successMsg) {
    <p class="text-center p-4 mb-4 mt-4 text-sm text-green-800 rounded-lg bg-green-100">{{successMsg}}</p>
    }

    <!--? Submit Button  -->
    <button type="submit" [disabled]="loginForm.invalid"
      class="w-full bg-blue-600 text-white py-2 rounded-lg font-semibold
            hover:bg-blue-700 focus:ring-2 focus:ring-blue-400 focus:ring-offset-1 transition disabled:bg-gray-400 disabled:cursor-default">
      Login
    </button>

  </form>
</section>