<section>
  <div>
    <!-- ? Sidebar -->
    <div class="sidebar">
      <ul class="flex flex-col">
        <li>
          <a (click)="onSideNav('personalData')"
            class="block px-4 py-3 mb-1 text-gray-700 rounded-lg text-sm font-medium hover:bg-gray-300 transition">
            Personal Data
          </a>
        </li>
        <li>
          <a (click)="onSideNav('contactData')"
            class="block px-4 py-3 mb-1 text-gray-700 rounded-lg text-sm font-medium hover:bg-gray-300 transition">
            Contact Data
          </a>
        </li>

        <li>
          <a (click)="onSideNav('offshoreData')"
            class="block px-4 py-3 mb-1 text-gray-700 rounded-lg text-sm font-medium hover:bg-gray-300 transition">
            Offshore Data
          </a>
        </li>
        <li>
          <a (click)="onSideNav('educationalQualifications')"
            class="block px-4 py-3 mb-1 text-gray-700 rounded-lg text-sm font-medium hover:bg-gray-300 transition">
            Educational Qualifications
          </a>
        </li>
        <li>
          <a (click)="onSideNav('certificate')"
            class="block px-4 py-3 mb-1 text-gray-700 rounded-lg text-sm font-medium hover:bg-gray-300 transition">
            Certificate
          </a>
        </li>
        <li>
          <a (click)="onSideNav('otherTraining')"
            class="block px-4 py-3 mb-1 text-gray-700 rounded-lg text-sm font-medium hover:bg-gray-300 transition">
            Stcw/Other Training
          </a>
        </li>
        <li>
          <a (click)="onSideNav('languages')"
            class="block px-4 py-3 mb-1 text-gray-700 rounded-lg text-sm font-medium hover:bg-gray-300 transition">
            Languages Known
          </a>
        </li>
        <li>
          <a (click)="onSideNav('healthData')"
            class="block px-4 py-3 mb-1 text-gray-700 rounded-lg text-sm font-medium hover:bg-gray-300 transition">
            Health/Medical Data
          </a>
        </li>
        <li>
          <a (click)="onSideNav('references')"
            class="block px-4 py-3 mb-1 text-gray-700 rounded-lg text-sm font-medium hover:bg-gray-300 transition">
            References
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>