<form [formGroup]="certficatesForm">

  <div class="grid grid-cols-2 gap-x-6 gap-y-4 pb-4 mb-4">

    <!-- ? Capacity -->
    <div>
      <label class="block text-sm font-medium text-gray-700 mb-1">Capacity</label>
      <input formControlName="Capacity" type="text" class="w-full border border-gray-300 rounded-md px-3 py-2">
    </div>

    <!-- ? Regulation -->
    <div>
      <label class="block text-sm font-medium text-gray-700 mb-1">Regulation</label>
      <input formControlName="Regulation" type="text" class="w-full border border-gray-300 rounded-md px-3 py-2">
    </div>

    <!-- ? IssueDate -->
    <div>
      <label class="block text-sm font-medium text-gray-700 mb-1">IssueDate</label>
      <input formControlName="IssueDate" type="date" class="w-full border border-gray-300 rounded-md px-3 py-2">
    </div>

    <!-- ? ExpiryDate -->
    <div>
      <label class="block text-sm font-medium text-gray-700 mb-1">ExpiryDate</label>
      <input formControlName="ExpiryDate" type="date" class="w-full border border-gray-300 rounded-md px-3 py-2">
    </div>

    <!-- ? Country -->
    <div>
      <label class="block text-sm font-medium text-gray-700 mb-1">IssuingAuthority</label>
      <input formControlName="IssuingAuthority" type="text" class="w-full border border-gray-300 rounded-md px-3 py-2">
    </div>

    <!-- ? Limitations -->
    <div>
      <label class="block text-sm font-medium text-gray-700 mb-1">Limitations</label>
      <input formControlName="Limitations" type="text" class="w-full border border-gray-300 rounded-md px-3 py-2">
    </div>

    <!-- ? Country -->
    <div>
      <label class="block text-sm font-medium text-gray-700 mb-1">Country</label>
      <input formControlName="Country" type="text" class="w-full border border-gray-300 rounded-md px-3 py-2">
    </div>

    <!-- ? Type -->
    <div>
      <label class="block text-sm font-medium text-gray-700 mb-1">Type</label>
      <input formControlName="Type" type="text" class="w-full border border-gray-300 rounded-md px-3 py-2">
    </div>
  </div>


  <!-- ? Add button -->
  <div class="flex justify-end items-center gap-4 py-4">
    <button type="button" (click)="addCertificate()"
      class="px-4 py-2 bg-green-500 hover:bg-green-700 text-white rounded-lg">Add</button>
  </div>

</form>

<div class="mt-8">
  <h2 class="text-lg font-semibold mb-4">Added Certificates</h2>
  <table class="min-w-full">
    <thead class="bg-gray-100">
      <tr>
        <th class="px-2 py-2 text-left text-sm text-gray-500 font-semibold">Capacity</th>
        <th class="px-4 py-2 text-left text-sm text-gray-500 font-semibold">Regulation</th>
        <th class="px-4 py-2 text-left text-sm text-gray-500 font-semibold">Issue Date</th>
        <th class="px-4 py-2 text-left text-sm text-gray-500 font-semibold">Expiry Date</th>
        <th class="px-4 py-2 text-left text-sm text-gray-500 font-semibold">Issuing Authority</th>
        <th class="px-4 py-2 text-left text-sm text-gray-500 font-semibold">Limitations</th>
        <th class="px-4 py-2 text-left text-sm text-gray-500 font-semibold">Country</th>
        <th class="px-4 py-2 text-left text-sm text-gray-500 font-semibold">Type</th>
        <th class="px-4 py-2 text-left text-sm text-gray-500 font-semibold">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (cert of certificateData; track $index) {
      <tr>
        <td class="border-b border-gray-200 text-left ps-4">{{cert.Capacity}}</td>
        <td class="border-b border-gray-200 text-left ps-4">{{cert.Regulation}}</td>
        <td class="border-b border-gray-200 text-left ps-4">{{cert.IssueDate}}</td>
        <td class="border-b border-gray-200 text-left ps-4">{{cert.ExpiryDate}}</td>
        <td class="border-b border-gray-200 text-left ps-4">{{cert.IssuingAuthority}}</td>
        <td class="border-b border-gray-200 text-left ps-4">{{cert.Limitations}}</td>
        <td class="border-b border-gray-200 text-left ps-4">{{cert.Country}}</td>
        <td class="border-b border-gray-200 text-left ps-4">{{cert.Type}}</td>
        <td (click)="removeCertificate($index)" class="cursor-pointer text-red-500 text-center px-2 py-1">X</td>
      </tr>

      }

    </tbody>
  </table>
</div>