<div class="mt-8">
  <table class="min-w-full border border-gray-300">
    <thead class="bg-gray-100">
      <tr>
        <th class="border px-4 py-2 text-left">Degree / Course</th>
        <th class="border px-4 py-2 text-left">Major / Subject</th>
        <th class="border px-4 py-2 text-left">Issue Date</th>
        <th class="border px-4 py-2 text-left">University</th>
        <th class="border px-4 py-2 text-left">Country</th>
        <th class="border px-4 py-2 text-left">Actions</th>
      </tr>
    </thead>
    <!-- <tbody>
      @for (qual of qualificationData; track $index) {
      <tr>
        <td class="border px-4 py-2 text-left">{{qual.DegreeOrCourse}}</td>
        <td class="border px-4 py-2 text-left">{{qual.MajorOrSubject}}</td>
        <td class="border px-4 py-2 text-left">{{qual.CourseIssueDate}}</td>
        <td class="border px-4 py-2 text-left">{{qual.University}}</td>
        <td class="border px-4 py-2 text-left">{{qual.Country}}</td>
        <td (click)="removeQualification($index)" class="cursor-pointer text-red-800 border px-4 py-2 text-center">X
        </td>
      </tr>

      }

    </tbody> -->
  </table>
</div>